

<div class="container-fluid">
    <div class="row Logo">
        <div class="col-12">

            <img src="../../assets/Home/logo.png" alt="logo da netflix" width="200px" routerLink="" >
        </div>
    </div>
    <div class="row d-flex">
     <div class="col-12 formulario">
        <h1>Entrar</h1>
       <form >
        <input type="email" name="emaillogin" id="emaillogin" class="form-control" placeholder="Email ou número de telefone">
        <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha">
        <button routerLink="/perfis">Entrar</button>
        <div class="row">
            <div class="col-12 checagem">

                <input type="checkbox" name="lembre" id="lembre" class="lembrar">
                <label for="lembre">Lembre-se de mim</label>
                <p>Precisa de ajuda?</p>
            </div>
        </div>
       </form>
       <h2 class="novo">Novo por aqui? <a href="#">Assine agora</a></h2>
       <p class="bla">Esta página é protegida pelo Google reCAPTCHA para garantir que você não é um robô. <a href="#">Saiba mais.</a></p>
     </div>
    </div>
    <footer>
        <div class="row titulofooter">
            <div class="col-12">

                <h3 >Dúvidas? Ligue 0800 591 8942</h3>
            </div>
        </div>
        <div class="row footerli">
            <div class="col-3">

                <ul>
                    <li>Perguntas frequentes</li>
                    <li>Preferências de cookies</li>
                    <li>
                        <select name="lingua3" id="lingua3" class="fa">
                            <option value="Portugues"> <span>&#xf0ac;</span>Português</option>
                            <option value="Ingles">English</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="col-3">

                <ul>
                    <li>Central de Ajuda</li>
                    <li>Informações corporativas</li>
                </ul>
            </div>
            <div class="col-3">

                <ul>
                    <li>Termos de Uso</li>
                </ul>
            </div>
            <div class="col-3">

                <ul>
                    <li>Privacidade</li>
                </ul>
            </div>

        </div>

    </footer>
</div>